<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="consent">
      <directory>tests/integration/consent</directory>
    </testsuite>
    <testsuite name="dsr">
      <directory>tests/integration/dsr</directory>
    </testsuite>
    <testsuite name="legaldocs">
      <directory>tests/integration/legaldocs</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="WP_ROOT_DIR" value="c:\\docker-wp\\html"/>
  </php>
</phpunit>
